@model ML.Movie
@{
    ViewData["Title"] = "Popular";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Popular</h1>

<link rel="stylesheet" type="text/css" href="~/css/movie.css">
<head>
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/css/mdb.min.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    @foreach (ML.Movie movie in Model.Movies)
    {
        <div class="grid-wrapper">

            <!-- Card -->
            <div class="card-container box">
                <div class="card-flip">
                    <!-- Card Front -->
                    <div class="card front">
                        <img src="@movie.Imagen" class="card-img-top img-fluid" alt="movie-poster">
                        <div class="card-block">
                            <h5 class="card-title">@movie.Titulo</h5>
                            <p class="card-text">@movie.Descripcion</p>
                            <p class="card-text"><small class="text-muted">@movie.Idioma</small></p>
                        </div>
                    </div>
                    <!-- End Card Front -->
                    <!-- Card Back -->
                    <div class="card back">
                        <div class="card-header warning-color"></div>
                        <div class="card-block text-center">
                            <h4 class="card-title">Rating</h4>
                            <p class="card-text"><a href="#" class="rating">@movie.Ranking/10</a></p>
                            <a href="@Url.Action("AddFavoritMovie", "Movie", new { IdMovie = movie.IdMovie, Favorite=true})" class="btn orange"> <i class="fa-solid fa-face-grin-hearts fa-beat" style="color:aqua"></i>  Favorit </a>
                        </div>
                        <img class="movie" src="@movie.Imagen" alt="back-img">
                    </div>
                    <!-- End Card Back -->
                </div>
            </div>
            <!-- End Card -->

        </div>
    }
</body>