@model ML.Cine
@{
    ViewData["Title"] = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<title>Add Map</title>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

<link rel="stylesheet" type="text/css" href="./style.css" />
<script type="module" src="./index.js"></script>



<h3>My Google Maps Demo</h3>
<!--The div element for the map -->
<div id="map"></div>
@*<div class="container">
    <div class="row">*@
<div class="col-md-3">
    @Html.TextBoxFor(model=> model.IdCine,new{@class="visually-hidden"})
    @Html.ValidationMessageFor(model => model.IdCine)

</div>
<div class="col-md-3">
    @Html.TextBoxFor(model=> model.Nombre,new{@class="visually-hidden"})
    @Html.ValidationMessageFor(model => model.Nombre)
</div>
<div class="col-md-3">
    @Html.TextBoxFor(model=> model.Direccion,new{@class="visually-hidden"})
    @Html.ValidationMessageFor(model => model.Direccion)
</div>
<div class="col-md-3">
    @Html.TextBoxFor(model=> model.Venta,new{@class="visually-hidden"})
    @Html.ValidationMessageFor(model => model.Venta)
</div>

@*      </div>
    </div>*@
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSKBDdPPlfca_zTwyxKiicRQn1qfgRjLw&callback=initMap&v=weekly" defer></script>


<style>
    #map {
        height: 400px; /* The height is 400 pixels */
        width: 100%; /* The width is the width of the web page */
    }

</style>

<script>
    // Initialize and add the map
    function initMap() {
        // The location of Uluru
        const uluru = { lat: -25.344, lng: 131.031 };
        // The map, centered at Uluru
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 4,
            center: uluru,
        });
        // The marker, positioned at Uluru
        const marker = new google.maps.Marker({
            position: uluru,
            map: map,
        });
    }

</script>